/* App.css */
.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px;  /* Space for the sidebar */
  padding: 20px;
  width: 100%;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  padding: 5px;
  width: 200px;
}

.header-actions button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  cursor: pointer;
}

.header-actions button.logout {
  background-color: #d32f2f;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #c7c7c7;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar li:hover {
  background-color: #a1a2b5;
}

.sidebar li a {
  color: white;
  text-decoration: none;
}

.sidebar li a:hover {
  color: white;
}
